[submodule "Kane2"]
	path = Kane2
	url = https://github.com/imkane/gekko
[submodule "CloggyStrats"]
	path = CloggyStrats
	url = https://github.com/cloggy45/Gekko-Bot-Resources/
[submodule "AdoptedStrategies"]
	path = AdoptedStrategies
	url = https://github.com/Gab0/gekko-adapted-strategies
[submodule "RSI-WR"]
	path = RSI-WR
	url = https://github.com/zzmike76/gekko
[submodule "TommieHansenStrategies"]
	path = TommieHansenStrategies
	url = https://github.com/tommiehansen/gekko_tools
[submodule "SuperTrend"]
	path = SuperTrend
	url = https://github.com/Dodo33/gekko-supertrend-strategy
[submodule "BuyAtSellAt"]
	path = BuyAtSellAt
	url = https://github.com/pushkarnagle/gekko-buyatsellat
[submodule "NeuralNet"]
	path = NeuralNet
	url = https://github.com/SirTificate/gekko-neuralnet
[submodule "Neapticator"]
	path = Neapticator
	url = https://github.com/jmatty1983/gekkoNeatapticIndicator
[submodule "gekko-strat-hl"]
	path = gekko-strat-hl
	url = https://github.com/mounirlabaied/gekko-strat-hl
[submodule "gekko"]
	path = gekko
	url = https://github.com/zzmike76/gekko
[submodule "GekkoStrategies"]
	path = GekkoStrategies
	url = https://github.com/Alocaly/GekkoStrategies
[submodule "ManuNet"]
	path = ManuNet
	url = https://github.com/Alocaly/GekkoStrategies
[submodule "tether"]
	path = tether
	url = https://github.com/alex-kooper/gekko-strategy
[submodule "Luke_NN"]
	path = Luke_NN
	url = https://github.com/WeiWeiOuO/Gekko-Strategies
[submodule "Gab0"]
	path = Gab0
	url = https://github.com/Gab0/gekko-adapted-strategies
[submodule "neuralnet_zschro"]
	path = neuralnet_zschro
	url = https://github.com/zschro/gekko-neuralnet
[submodule "NNv2"]
	path = NNv2
	url = https://github.com/zschro/gekko-neuralnet
